---
layout: 'base.njk'
---

<main class="container contact-page">
    <section class="actualite" id="actualite">
        <header class="actualite-header">
            <h2>{{ title }}</h2>
        </header>
        <div id="pres" class="pres">
            <div class="actu-meta">
                <span class="actu-author">Par <strong>{{ author }}</strong></span>
                <time datetime="{{ date | postDateIso }}">{{ date | postDate }}</time>
            </div>
            <figure class="actu-figure">
                <img src="{{ image }}" alt="{{ imageAlt }}">
            </figure>
        </div>
        <hr class="actu-barre">
        <div class="actu-content">
            {{ content | safe }}
        </div>
    </section>
</main>