<header>
    <div class="header-top">
      <a href="/index.html">
        <img src="/media/logo.png" alt="Logo" class="logo">
      </a>
      <div class="header-texts">
        <a href="index.html" class="header-title-link">
          <h1>Lomener Port d'Attache</h1>
        </a>
        <p>Ville de Ploemeur</p>
        <nav>
          <ul>
            <li><a href="/index.html#actus">Actualités</a></li>
            <li><a href="/presentation/index.html">Présentation</a></li>
            <li><a href="/media/inscription.pdf" target="_blank" rel="noopener noreferrer">Nous rejoindre</a></li>
            <li><a href="/contact/index.html">Contact</a></li>
            <li><a href="/documentation/index.html">Documentation</a></li>
          </ul>
        </nav>
      </div>
    </div>
</header>