---
layout: 'base.njk'
---

<section class="usercard" id="usercard">
    <div id="user-meta" class="user-meta">
        <figure class="user-avatar">
            <img src="{{ photo }}" alt="{{ nom }}">
        </figure>
        <h5><strong>{{ nom }}</strong></h5>
        {%- if position -%}
            <p class="user-position">{{ position }}</p>
        {%- endif -%}
    </div>
    <hr class="actu-barre">
    <div class="actu-content">
        {{ content | safe }}
    </div>
</section>