---
layout: 'base.njk'
---

    <main class="container">
        <section class="home" id="home">
            <header class="home-header">
                <h2>Actualités</h2>
                <p>Découvrez les dernières nouvelles de l'association Lomener Port d'Attache.</p>
            </header>
            <div id="actus" class="actus">

                {%- for post in collections.actu | reverse -%}
                    <a href="{{ post.url }}" class="actu">
                        <header class="actu-head">
                            <h3>{{ post.data.title }}</h3>
                            <div class="actu-meta">
                                <span class="actu-author">Par <strong>{{ post.data.author }}</strong></span>
                                <time datetime="{{ post.data.date | postDateIso }}">{{ post.data.date | postDate }}</time>
                            </div>
                        </header>
                        <figure class="actu-media">
                            <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                        </figure>
                        <p class="actu-cta">Cliquez pour lire la suite</p>
                    </a>
                {%- endfor -%}

            </div>
        </section>
    </main>